{% extends "base.html" %}

{% block title %}GRaSP visualizer{% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block navbar %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
      <div class="col-2" id="factuality-container">
        <table class="mh-100 table">
          <thead>
            <tr>
              <th scope="col">Resource</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody id="factval-table-body">
          </tbody>
        </table>
      </div>
      <div class="col-md-auto text-end overflow-auto" id="event-container">
        <table class="mh-100 table table-hover" id="events">
          <thead>
            <tr>
              <th scope="col">Event</th>
            </tr>
          </thead>
          <tbody>
          {% for i, event_id, span_ids in events %}
            <tr>
              <td class="event-selector" id="{{i}}" data-spans="{{span_ids}}">{{event_id}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-6">
          <div class="text-center py-5 px-3">
              <p id="text-box">{{ text | safe}}</p>
          </div>
      </div>
      <div class="col overflow-auto" id="srl-container"></div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center" id="rdf-box"><div class="border border-dark" id="rdf-container"></div></div>
    </div>

    <script type=text/javascript src="{{url_for('static', filename='js/srl_vis.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/rdf_vis.js') }}"></script>
    <script type=text/javascript>
      const EVENT_COLOR = 'rgb(127, 255, 0)';
      var event_selected = undefined;

      $(document).on('mouseover mouseout', '.event-selector', function(e) {
        var wid = e.target.getAttribute("data-spans");
        if (event_selected && wid == event_selected['word']) {
          return;
        }
        if ($('span#' + wid).css('background-color') == EVENT_COLOR) {
          $('span#' + wid).css('background-color', '');
        } else {
          $('span#' + wid).css('background-color', EVENT_COLOR);
        }
      });
      $(document).on('click', '.event-selector', function(e) {
        var event_id = e.target.id;
        var word_id = e.target.getAttribute("data-spans");

        if ($('#' + event_id + '.event-selector').css('background-color') == EVENT_COLOR) {
          // Disable
          $('#' + event_id + '.event-selector').css('background-color', '');
          event_selected = undefined;
        } else {
          // Disable all others
          if (event_selected) {
            $('#' + event_selected['event'] + '.event-selector').css('background-color', '');
            $('span#' + event_selected['word']).css('background-color', '');

          }
          // Enable
          $('#' + event_id + '.event-selector').css('background-color', EVENT_COLOR);
          event_selected = {"word": word_id, "event":event_id}
        }
        $.getJSON($SCRIPT_ROOT + '/select_event', {
          event_id: event_id
        }, function (data) {
          $('#factval-table-body').empty();
          $('#srl-container').empty();
          for (let i = 0; i < data.fact_values.length; i++) {
            const element = data.fact_values[i];
            $('#factval-table-body').append("<tr><td>"+element[0]+"</td><td>"+element[1]+"</td></tr>")
          }
          visualizeSRL(data.fact_info, data.srl);
        });
      });
    </script>
    <script>
      $( document ).ready(function() {
        $.getJSON($SCRIPT_ROOT + '/rdf_data', {
          file_selector: {{file_idx}}
        }, function (data) {
          visualizeRDF(data);
        });
      });
    </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

