{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block navbar %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}

    <div class="mt-5 container">
        <div class="d-flex justify-content-center">
            <form class="row g-3" action="{{ url_for('main.show_file') }}" method="post">
                <div class="col-auto">
                    <select class="form-select" aria-label="Select file to visualize" name="file_selector">
                        <option value="" disabled selected>Select file..</option>
                        {% for file in files %}
                        <option>{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Confirm</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

