body {
    padding-top: 5rem;
}

#event-container {
    max-height: 70vh;
}

#node-text {
  font: 8px sans-serif;
}

.rdf-container {
  border-color: black;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 0px;
}
