{% extends "base.html" %}

{% block title %}GRaSP visualizer{% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block navbar %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-auto text-end">
        <table class="table table-hover" id="events">
            <thead>
              <tr>
                <th scope="col">Event</th>
              </tr>
            </thead>
            <tbody>
            {% for i, e in events %}
              <tr>
                <td class="event-selector" id="{{i}}">{{e}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-6">
            <div class="text-center py-5 px-3">
                <p id="text-box">{{ text }}</p>
            </div>
        </div>
        <div class="col">
        </div>
    </div>

    <script type=text/javascript>
      $(document).on('mouseover mouseout', '.event-selector', function(e) {
        var eid = e.target.id;
        const COLOR = 'rgb(127, 255, 0)';
        if ($('span#' + eid).css('background-color') == COLOR) {
          $('span#' + eid).css('background-color', '');
        } else {
          $('span#' + eid).css('background-color', COLOR);
        }
      });
    </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

